<div class="container fullscreen">
  <div class="row v-align">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
      </div>
      <div class="form-block-header">
        <img align="center" src="../../../assets/images/logo-momentum.png" width="150" height="80" alt="logo">
        <h2 class="margin-bottom-15" align="center">LOGIN</h2>
        <div class="form-element">
          <div>
            <form #authForm="ngForm" (ngSubmit)="login(authForm)">
              <div class="input-group margin-bottom-20 has-feedback">
                <span class="input-group-addon rounded-left"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" class="form-control rounded-right" ngModel name="email" required email  placeholder="Email">
              </div>
              <div class="input-group margin-bottom-20 has-feedback">
                <span class="input-group-addon rounded-left"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control rounded-right"  ngModel name="password" required minlength="6" placeholder="Password">
              </div>
               <button type="submit" [disabled] ="!authForm.valid" class="btn btn-primary">Login</button>
            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
