.btn-info {
    color: #fff;
    background-color: #C70039;
    border-color: #46b8da;
    margin-left: 20px;
}
h3 {
  margin-left: 18px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.kachel {
  background: #01196C;
  width: 27.3%;
  border: solid 1px #222;
    border-radius: 10px;
  padding: 1rem;
  transition: all 0.3s ease-in;
}
.kachel:hover {
  transform: scale(1.1);
  z-index: 100;
  cursor: pointer;
  box-shadow: 2px 2px 2px #222;
}
.kachel h2 {
  font-size: 1.5rem;
}
.kachel span {
  font-size: 1.9rem;
}
@media (max-width: 610px) {
  main {
    width: 96%;
  }
  .kachel {
    padding: 0.8rem;
    width: 43%;
  }
}
@media (max-width: 420px) {
  main {
    width: 89%;
  }
  .kachel {
    width: 100%;
  }
}
