.navbar-inverse {
    background-color: #C70039;
    border-color: #080808;
    color:#EFF0F1;
}

a {
  color: #00B7FF;
}

img {
    border: 0;
    margin-top: -25px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #eee;
}
